<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- Component -->
    <fieldset name="component"
              label="COM_DD_GMAPS_LOCATIONS"
              description="COM_DD_GMAPS_LOCATIONS_XML_DESCRIPTION">

            <field
                    name="countries_reduced_selection"
                    type="list"
                    class="btn-group btn-group-yesno"
                    default="0"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_COUNTRIES_REDUCED_SELECTION_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_COUNTRIES_REDUCED_SELECTION_DESC" >
                <option value="1">JYES</option>
                <option value="0">JNO</option>
            </field>

            <field
                    name="show_hits"
                    type="list"
                    label="JGLOBAL_SHOW_HITS_LABEL"
                    description="JGLOBAL_SHOW_HITS_DESC"
                    default="1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>

            <field
                    name="mark_as_new"
                    type="integer"
                    first="1"
                    last="90"
                    step="1"
                    default="30"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_MARK_AS_NEW_SELECTION_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_MARK_AS_NEW_SELECTION_DESC"
            >
                <option value="30">COM_DD_GMAPS_LOCATIONS_COMPONENT_MARK_AS_NEW_DEFAULT_THIRTYDAYS</option>
            </field>

            <field
                    name="unit"
                    type="list"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_UNIT_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_UNIT_DESC"
                    default="miles"
            >
                <option value="miles">COM_DD_GMAPS_LOCATIONS_COMPONENT_UNIT_MILES</option>
                <option value="kilometers">COM_DD_GMAPS_LOCATIONS_COMPONENT_UNIT_KM</option>
            </field>

            <field
                    name="marker_in_entry"
                    type="list"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_MARKER_IN_ENTRY_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_MARKER_IN_ENTRY_DESC"
                    default="0"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>

            <field
                    name="show_on_map"
                    type="list"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_DESC"
                    default="1"
            >
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>

            <field
                    name="show_on_map_action"
                    type="list"
                    label="COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_LABEL"
                    description="COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_DESC"
                    default="toid"
            >
                <option value="0">COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_NO_ACTION</option>
                <option value="toid">COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_TO_ID</option>
                <option value="totop">COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_SCROLL_TO_TOP</option>
                <option value="tobottom">COM_DD_GMAPS_LOCATIONS_COMPONENT_SHOW_ON_MAP_ACTION_SCROLL_TO_BOTTOM</option>
            </field>

    </fieldset>

    <!-- Google API Settings -->
    <fieldset name="google_api_settings"
              label="COM_DD_GMAPS_LOCATIONS_API_SETTINGS_LABEL"
              description="COM_DD_GMAPS_LOCATIONS_API_SETTINGS_DESC"
    >

        <field name="google_api_key_js_places"
               type="text"
               label="COM_DD_GMAPS_LOCATIONS_API_KEY_JS_PLACES_LABEL"
               description="COM_DD_GMAPS_LOCATIONS_API_KEY_JS_PLACES_DESC"
        />

        <field name="google_api_key_geocode"
               type="text"
               label="COM_DD_GMAPS_LOCATIONS_API_KEY_GEOCODE_LABEL"
               description="COM_DD_GMAPS_LOCATIONS_API_KEY_GEOCODE_DESC"
        />

    </fieldset>

    <!-- Permissions -->
    <fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL"
    >

        <field name="rules" type="rules"
               component="com_dd_gmaps_locations"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component"
        />

    </fieldset>
</config>