<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="COM_DD_GMAPS_LOCATIONS_COMPONENT_LABEL"
		description="COM_DD_GMAPS_LOCATIONS_COMPONENT_DESC"
	>

	</fieldset>

	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_folio"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>